.bgImg1 {
    background-image: url(../assets/Group\ 8MentuTopBAr.png);
    height: 360px;
    background-position: top;
    background-size: cover;
}

.bgImg2 {
    background-image: url(../assets/MenuBtmBarHere.png);
    height: 322px;
    background-position: bottom;
    background-size: cover;
}

.fS1 {
    font-size: 50px;
    color: #790041;
    font-family: 'Knewave', system-ui;
}

.fS2 {
    font-size: 50px;
    color: #790041;
    font-family: 'Kreon', serif;
}

.fS3 {
    font-size: 37.5px;
    color: #790041;
    font-family: 'Knewave', system-ui;
}

.fS4 {
    font-size: 37.5px;
    color: #790041;
    font-family: 'Kreon', serif;
}

.fS5 {
    font-size: 25px;
    color: #790041;
    font-family: 'Knewave', system-ui;
}

.fS6 {
    font-size: 25px;
    color: #790041;
    font-family: 'Kreon', serif;
}

/* div.row div.col p {
    font-size: 50px;
    color: #790041;
    font-family: 'Kreon', serif;
} */