body{
    overflow-x: hidden;
}
.nav-design{
    background-color: #FFCEDA;
    display: flex;
}

.navbar-tabs{
    display: flex;
    justify-content: flex-end;
}

.individual-tab{
    padding-right: 20px;
    padding-left: 40px;
    width: 200px;
    font-family: kreon;
}

.logo{
    width: 20%;
    z-index: 4;
}

.sprinkles-div{
    position: absolute;
    top: 100px; left: 400px;
}

.hero-text-2{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.hero-header-2{
    font-family: knewave;
    font-size: 60px;
    -webkit-text-stroke: 2px #731A1A;
}

.toggler{
    border-width: 0px;
    color: transparent;
    z-index: 4;
}

.image-section{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-changes{
    border-width: 0px;
    display: flex;
    align-items: center;
    text-align: center;
}

.caption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.segment{
    background-color: #FFCEDA;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.caption-design-1{
    font-family: knewave;
    color: #FF73BE;
    font-size: 80px;
}

.caption-design-2{
    font-family: knewave;
    color: white;
    -webkit-text-stroke: 2px #FF85C6;
    font-size: 80px;
}

.space{
    margin-top: 60px;
}

.fS1 {
    font-size: 50px;
    color: #790041;
    font-family: 'Knewave', system-ui;
}

.fS2 {
    font-size: 40px;
    color: #790041;
    font-family: 'Kreon', serif;
}

.fS3 {
    font-size: 37.5px;
    color: #790041;
    font-family: 'Knewave', system-ui;
}

.fS4 {
    font-size: 37.5px;
    color: #790041;
    font-family: 'Kreon', serif;
}

.fS5 {
    font-size: 25px;
    color: #790041;
    font-family: 'Knewave', system-ui;
}

.fS6 {
    font-size: 25px;
    color: #790041;
    font-family: 'Kreon', serif;
}

@media screen and (max-width: 1000px) {
    .navbar-tabs{
        display: flex;
        justify-content: center;
    }
    .sprinkles-div{
        position: absolute;
        top: 60px; left: 0px;
        z-index: 0;
    }
}

.visit {
    background-image: url("/Assets/matthew-feeney-IBGqZJUDghM-unsplash\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 300px;
    max-height: 1349px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-family: 'Knewave', system-ui;
    margin-top: 48px;
    margin-bottom: 48px;
    color: #FF73BE;
    background-color: rgba(236, 236, 236, 0.88);
    max-width: 1244px;
    padding: 70px;
    border-radius: 20px;
}

.hero-text h1 {
    font-size: 200px;
    text-align: center;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: black;
}

.hero-text p {
    font-size: 80px;
}

.toMap {
    text-decoration: none;
    color: #FF73BE;
}

/* Footer */

.footer{
    background-color: rgba(255, 206, 218, 1);
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 50px;
}

.footer p {
    text-decoration: underline;
}

.socials a {
    font-size: 80px;
    text-decoration: none;
    color: black;
}


.funkyFoot{
    padding-bottom: 0;
    margin-bottom: 0;
}

.insta {
    margin-right: 10px;
}

@media screen and  (max-width: 430px){ 
    .visit {
        max-height: 700px;
    }

    .hero-text {
        max-width: 429px;
        padding: 10px;
        margin: 20px;
    }

    .hero-text h1 {
        font-size: 50px;
        -webkit-text-stroke-width: 2px;
    }

    .hero-text p {
        font-size: 25px;
    }
    
    .toMap {
        text-decoration: none;
        color: #FF73BE;
    }
    
    /* Footer */
    
    .footer{
        font-size: 17px;
    }
    
    .footer p {
        text-decoration: underline;
    }
    
    .socials a {
        font-size: 40px;
        text-decoration: none;
        color: black;
    }

}


@font-face {
    font-family: kreon;
    src: url(../assets/Kreon-VariableFont_wght.ttf);
}

@font-face{
    font-family: knewave;
    src: url(../assets/Knewave-Regular.ttf);
}